<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Babble Android App</title>
    <link href="//spark.lukin.be/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//spark.lukin.be/twitter-bootstrap/2.1.1/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/s/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/s/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="intro">
            <h1>Babble <br><small>for Android</small></h1>
            <p>A language assistant at your fingertips to learn (understand & pronounce) convenient sentences to get around in Europe.</p>
        </div>
        <div class="row-fluid show-grid">
            <div class="span5"><img src="/s/logo.gif" alt="Bable"/> </div>
            <!--<div class="span7"><iframe width="420" height="315" src="http://www.youtube.com/embed/gmOTpIVxji8" frameborder="0" allowfullscreen></iframe></div>-->
            <div class="span7 youtube"><iframe width="550" height="375" src="http://www.youtube.com/embed/gmOTpIVxji8" frameborder="0" allowfullscreen></iframe></div>
        </div>
        <div class="row-fluid show-grid">
            <p class="center"><a href="http://vhackandroid.wikia.com/wiki/Babble">Follow our project wiki</a></p>
        </div>
    </div>

</body>
</html>
